.carousel-parent {
    background-color: #F7F7F7;
}

.carousel-header {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
}


@media (max-width: 768px) {
    .carousel-item {
        display: flex;
        flex-direction: column;
    }
    .carousel-header{
        font-size: 24px;
    }
}