/* Basic styles */
body {
    font-family: Arial, sans-serif;
}

.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-inner {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
}

/* Arrows outside of the carousel (Desktop) */
.arrow {
   
    background-color: #fff; 
    color: lightgray;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 2; /* Ensure arrows are on top */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: -40px; /* Move the left arrow outside the carousel */
}

.right-arrow {
    right: -40px; /* Move the right arrow outside the carousel */
}

/* Disable arrow buttons when at the ends */
.arrow:disabled {
    cursor: not-allowed;
}


.carouse-detial{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 3%;
    text-align: left;

}
.carousel-detial-top{
    font-weight: bold;
    font-size: 20px;

} 
.carousel-detial-bottom{

}
.carousel-detial-auth-title{
    font-weight: bold; 
    font-size: 30px;

}
.carousel-detial-auth-name{
    color: lightgray;
}
@media (max-width: 768px) {
    .arrow {
        position: static;
        display: inline-block;
        margin: 10px; 
    }

    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrow-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .arrow {
        padding: 10px 20px;
    }

    .carousel-inner {
        margin-bottom: 20px; 
    }
}
