.container {
    max-width: 1000px;
    margin: 2% auto;
    padding: 20px;
}



.owl-theme .owl-dots .owl-dot span {
    background: #ccc;
}
.owl-carousel .owl-item img {
    display: block;
    width: 60%;
}